<article class="panel panel-default">
    <div class="panel-body">
        {{ message.content }}
    </div>
    <footer class="panel-footer">
        <div class="author">
            {{ message.username }}
        </div>
        <div class="config">
            <!--(click) is equivalent to "onClick" event listener-->
            <!--On click, runs onEdit() function in message.component.ts class-->
            <a (click)="onEdit()">Edit</a>
            <a (click)="onDelete()">Delete</a>
        </div>
    </footer>
</article>